
<form method="post" action="/comments">
    <input type="hidden" name="id" value="{{id}}">
    <textarea id="comment" name="comment" required></textarea> <br>
    <button type="submit"> Comment </button>
</form>
