:root {
  --color1:#373737;
  --color2:#cbcbcb;
  --color3:#5f5d6d;
  --color4:#a8a6c7;
  --width: 
}

* { 
  color:var(--color1);
  text-align:center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

body {
  background-image: linear-gradient(to top, var(--color3), var(--color4));
  background-attachment: fixed;
  margin: 0px;
  padding-bottom: 100px; 
}

nav {
  background-color:var(--color1);
  overflow: auto;
}

a {
  display:inline-block;
  padding:10px;
  color:var(--color2);
  text-decoration: none;
}

a:hover {
  background-color: var(--color3);
  box-shadow: 0 0 10px var(--color1);
}

h1 {
  color: var(--color2);
  background-color: var(--color3);
  width: max-content;
  margin:auto;
  border-radius: 10px;
  padding:10px;
  margin-top: 10px;
}

h2 {
  font-size: medium;
  margin-right:10px;
}

span {
  color: var(--color3);
  margin-right:5px;
}

.posts {
  background-color:var(--color2);
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  border: 4px solid var(--color3);
  max-width: 600px;
  padding:10px;
}

.postInfo {
  background-color:var(--color4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background-color: var(--color1);
  color: var(--color2);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
}

#footerText {
  color: var(--color4);
}

textarea {
  width: 100%;
  height: 20px;
  resize: vertical;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  border:0px;
}

textarea:focus {
  outline: none;
}

input[type="password"],
input[type="text"] {
  border-radius: 10px;
  border:0px;
}

input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;

}

.hidden {
  display: none;
}

input[type="submit"],
button {
  border-radius: 10px;
  border:0px;
  background-color: var(--color3);
  color: var(--color2);
  padding: 5px;
  margin: 5px;
}

input[type="submit"]:hover, 
button:hover {
  background-color: var(--color2);
  color: var(--color1);
}